body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {

     }

.jumbo-1 {
    background-image: url(jumbo-terrarium.jpg);
    background-position: center center;
    background-size: cover;
    height: 50vh;
    }

main {
    flex-grow: 1;
}

footer {
min-height: 50px;
 }