* {
    outline: rgb(238, 74, 131)
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 100 !important;
}

header {

     }


main {

}

footer {
    min-height: 50px;
 }

 h1, h2, h3, h4, h5 {
     font-weight: 100 !important;
 }

.header-row {
    background-image: url(header-pic.jpg);
    background-color: gray;
    background-position: center;
    background-size: cover;
}


.icons-card {
    border-radius: 0;
    position: absolute;
    top: 2%;
}

.side-pic-row {
    height: 55vh;
}

.testimonial-row {
    height: 45vh;
}


.testimonial-card {
    border-radius: 0;
}

.jumbo-quote {
    font-size: x-large;
}