* {
    outline: rgb(238, 74, 131)
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {

     }


main {

}

footer {
    min-height: 50px;
 }


.header-row {
    background-image: url(header-pic.jpg);
    background-position: center;
    background-size: cover;
}


.icons-card {
    border-radius: 0;
    position: absolute;
    top: 2%;
}

.side-pic-row {
    height: 50vh;
}

.testimonial-row {
    height: 35vh;
}

.testimonial-card {
    border-radius: 0;
}